<!doctype html>
<html>
    <head>
        <title><%= t("pages.account_page")%></title>
    </head>
    <body class = 'form-signin text-center'>
        <div class = 'card'>
            <% if !flash[:account_errors] %>
                <h2 class = 'h3 md-3 fw-normal'><%= t "welcome" %></h2>
                <p class = 'p md-3 fw-normal' style = 'font-size : 20px'><%= @user.login%></p>
                <p class = 'h5 md-3 fw-normal'><%= link_to t("pages.to_main_page"), '/'%></p>
            <% else %>
                <% flash[:account_errors].each do |error|%>
                    <h2 class = 'h2 md-3 fw-normal'><%= error %></h2>
                <% end %>
                <p class = 'h5 md-3 fw-normal'><%= link_to t("pages.to_main_page"), '/'%></p>
            <% end %>
        </div>
    </body>
</html>